<a href="https://colab.research.google.com/github/kei01138/3minuteDeeplearning/blob/master/secondweek/code_1121.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import library

In [0]:
import tensorflow as tf
import pandas as pd
import numpy as np

XOR Ploblem

In [0]:
x_data = [[0, 0], [0, 1], [1, 0], [1, 1]]
y_data = [[0], [1], [1], [0]]

In [0]:
W = tf.Variable(tf.random_uniform([2, 1], -1, 1))
b = tf.Variable(tf.random_uniform([1], -1, 1))

In [0]:
X = tf.placeholder(tf.float32, shape=[None, 2], name="X")
Y = tf.placeholder(tf.float32, shape=[None, 1], name="Y")

In [0]:
h = tf.matmul(X, W) + b
hypothesis = tf.nn.sigmoid(h)

In [0]:
# 손실 함수를 작성합니다.
cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=Y, logits=h))

In [0]:
# 텐서플로우에 기본적으로 포함되어 있는 함수를 이용해 경사 하강법 최적화를 수행합니다.
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1)
# 비용을 최소화 하는 것이 최종 목표
train_op = optimizer.minimize(cost)

In [0]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())

    # 최적화를 20000번 수행합니다.
    for step in range(20000):
        # sess.run 을 통해 train_op 와 cost 그래프를 계산합니다.
        # 이 때, 가설 수식에 넣어야 할 실제값을 feed_dict 을 통해 전달합니다.
        _, cost_val = sess.run([train_op, cost], feed_dict={X: x_data, Y: y_data})

    # 최적화가 완료된 모델에 테스트 값을 넣고 결과가 잘 나오는지 확인해봅니다.
    print("\n=== Test ===")
    print("X: [0, 0], Y:", sess.run(hypothesis, feed_dict={X: [[0, 0]]}))
    print("X: [0, 1], Y:", sess.run(hypothesis, feed_dict={X: [[0, 1]]}))
    print("X: [1, 0], Y:", sess.run(hypothesis, feed_dict={X: [[1, 0]]}))
    print("X: [1, 1], Y:", sess.run(hypothesis, feed_dict={X: [[1, 1]]}))

Solve XOR ploblem with multi layer perceptron

In [0]:
# 텐서플로우를 초기화한다
tf.reset_default_graph()

In [0]:
x_data = [[0, 0], [0, 1], [1, 0], [1, 1]]
y_data = [[0], [1], [1], [0]]

In [0]:
W1 = tf.Variable(tf.random_uniform([2, 4], -1, 1, seed = 0))
b1 = tf.Variable(tf.random_uniform([4], -1, 1, seed = 0))

W2 = tf.Variable(tf.random_uniform([4, 1], -1, 1, seed = 0))
b2 = tf.Variable(tf.random_uniform([1], -1, 1, seed = 0))

In [0]:
# name: 나중에 텐서보드등으로 값의 변화를 추적하거나 살펴보기 쉽게 하기 위해 이름을 붙여줍니다.
X = tf.placeholder(tf.float32, shape=[None, 2], name="X")
Y = tf.placeholder(tf.float32, shape=[None, 1], name="Y")

In [0]:
# X 와 Y 의 상관 관계를 분석하기 위한 가설 수식을 작성합니다.
# W 와 X 가 행렬이므로 tf.matmul을 사용했습니다.
h1 = tf.nn.sigmoid(tf.matmul(X, W1) + b1)
h2 = tf.matmul(h1, W2) + b2
hypothesis = tf.nn.sigmoid(h2)

In [0]:
# 손실 함수를 작성합니다.
# cross entropy : 예측값과 실제값의 cross entropy를 비용(손실) 함수로 정합니다.
cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=Y, logits=h2))

In [0]:
# 텐서플로우에 기본적으로 포함되어 있는 함수를 이용해 경사 하강법 최적화를 수행합니다.
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1)
# 비용을 최소화 하는 것이 최종 목표
train_op = optimizer.minimize(cost)

In [0]:
# 세션을 생성하고 초기화합니다.
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())

    # 최적화를 20000번 수행합니다.
    for step in range(20000):
        # sess.run 을 통해 train_op 와 cost 그래프를 계산합니다.
        # 이 때, 가설 수식에 넣어야 할 실제값을 feed_dict 을 통해 전달합니다.
        _, cost_val = sess.run([train_op, cost], feed_dict={X: x_data, Y: y_data})

        if step % 1000 == 0:
            print(step, cost_val)

    # 최적화가 완료된 모델에 테스트 값을 넣고 결과가 잘 나오는지 확인해봅니다.
    print("\n=== Test ===")
    print("X: [0, 0], Y:", sess.run(hypothesis, feed_dict={X: [[0, 0]]}))
    print("X: [0, 1], Y:", sess.run(hypothesis, feed_dict={X: [[0, 1]]}))
    print("X: [1, 0], Y:", sess.run(hypothesis, feed_dict={X: [[1, 0]]}))
    print("X: [1, 1], Y:", sess.run(hypothesis, feed_dict={X: [[1, 1]]}))

0 0.6890681
1000 0.6512548
2000 0.5886403
3000 0.53956974
4000 0.51510894
5000 0.50126475
6000 0.4865732
7000 0.35630843
8000 0.112823546
9000 0.051301207
10000 0.031427126
11000 0.022232894
12000 0.017062822
13000 0.013787217
14000 0.011539571
15000 0.0099073
16000 0.008670803
17000 0.0077030924
18000 0.006925931
19000 0.0062885582

=== Test ===
X: [0, 0], Y: [[0.0031513]]
X: [0, 1], Y: [[0.9940713]]
X: [1, 0], Y: [[0.9940738]]
X: [1, 1], Y: [[0.0079484]]

Save trained model

In [0]:
# 텐서플로우를 초기화한다
tf.reset_default_graph()

In [0]:
x_data = [[0, 0], [0, 1], [1, 0], [1, 1]]
y_data = [[0], [1], [1], [0]]

W1 = tf.Variable(tf.random_uniform([2, 4], -1, 1, seed = 0))
b1 = tf.Variable(tf.random_uniform([4], -1, 1, seed = 0))

W2 = tf.Variable(tf.random_uniform([4, 1], -1, 1, seed = 0))
b2 = tf.Variable(tf.random_uniform([1], -1, 1, seed = 0))

# name: 나중에 텐서보드등으로 값의 변화를 추적하거나 살펴보기 쉽게 하기 위해 이름을 붙여줍니다.
X = tf.placeholder(tf.float32, shape=[None, 2], name="X")
Y = tf.placeholder(tf.float32, shape=[None, 1], name="Y")

# X 와 Y 의 상관 관계를 분석하기 위한 가설 수식을 작성합니다.
# W 와 X 가 행렬이므로 tf.matmul을 사용했습니다.
h1 = tf.nn.sigmoid(tf.matmul(X, W1) + b1)
h2 = tf.matmul(h1, W2) + b2
hypothesis = tf.nn.sigmoid(h2)

# 손실 함수를 작성합니다.
# cross entropy : 예측값과 실제값의 cross entropy를 비용(손실) 함수로 정합니다.
cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=Y, logits=h2))
# 텐서플로우에 기본적으로 포함되어 있는 함수를 이용해 경사 하강법 최적화를 수행합니다.
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1)
# 비용을 최소화 하는 것이 최종 목표
train_op = optimizer.minimize(cost)

In [0]:
# 학습된 웨이트를 저장하기 위한 saver 만들기
saver = tf.train.Saver()

In [0]:
# 세션을 생성하고 초기화합니다.
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())

    # 최적화를 100번 수행합니다.
    for step in range(20000):
        # sess.run 을 통해 train_op 와 cost 그래프를 계산합니다.
        # 이 때, 가설 수식에 넣어야 할 실제값을 feed_dict 을 통해 전달합니다.
        _, cost_val = sess.run([train_op, cost], feed_dict={X: x_data, Y: y_data})

        if step % 1000 == 0:
            print(step, cost_val)

    # weights를 지정한 위치에 저장
    saver.save(sess, 'temp/model.ckpt')

    # 최적화가 완료된 모델에 테스트 값을 넣고 결과가 잘 나오는지 확인해봅니다.
    print("\n=== Test ===")
    print("X: [0, 0], Y:", sess.run(hypothesis, feed_dict={X: [[0, 0]]}))
    print("X: [0, 1], Y:", sess.run(hypothesis, feed_dict={X: [[0, 1]]}))
    print("X: [1, 0], Y:", sess.run(hypothesis, feed_dict={X: [[1, 0]]}))
    print("X: [1, 1], Y:", sess.run(hypothesis, feed_dict={X: [[1, 1]]}))

0 0.6890681
1000 0.6512548
2000 0.5886403
3000 0.53956974
4000 0.51510894
5000 0.50126475
6000 0.4865732
7000 0.35630843
8000 0.112823546
9000 0.051301207
10000 0.031427126
11000 0.022232894
12000 0.017062822
13000 0.013787217
14000 0.011539571
15000 0.0099073
16000 0.008670803
17000 0.0077030924
18000 0.006925931
19000 0.0062885582

=== Test ===
X: [0, 0], Y: [[0.0031513]]
X: [0, 1], Y: [[0.9940713]]
X: [1, 0], Y: [[0.9940738]]
X: [1, 1], Y: [[0.0079484]]

In [0]:
!ls temp

checkpoint  model.ckpt.data-00000-of-00001  model.ckpt.index  model.ckpt.meta

Restore saved weights

In [0]:
# 텐서플로우를 초기화한다
tf.reset_default_graph()

In [0]:
x_data = [[0, 0], [0, 1], [1, 0], [1, 1]]
y_data = [[0], [1], [1], [0]]

W1 = tf.Variable(tf.random_uniform([2, 4], -1, 1, seed = 0))
b1 = tf.Variable(tf.random_uniform([4], -1, 1, seed = 0))

W2 = tf.Variable(tf.random_uniform([4, 1], -1, 1, seed = 0))
b2 = tf.Variable(tf.random_uniform([1], -1, 1, seed = 0))

# name: 나중에 텐서보드등으로 값의 변화를 추적하거나 살펴보기 쉽게 하기 위해 이름을 붙여줍니다.
X = tf.placeholder(tf.float32, shape=[None, 2], name="X")
Y = tf.placeholder(tf.float32, shape=[None, 1], name="Y")

# X 와 Y 의 상관 관계를 분석하기 위한 가설 수식을 작성합니다.
# W 와 X 가 행렬이므로 tf.matmul을 사용했습니다.
h1 = tf.nn.sigmoid(tf.matmul(X, W1) + b1)
h2 = tf.matmul(h1, W2) + b2
hypothesis = tf.nn.sigmoid(h2)

In [0]:
# restore 하기 위해 saver 만들기
saver = tf.train.Saver()

In [0]:
# 세션을 생성하고 초기화합니다.
with tf.Session() as sess:
    saver.restore(sess, 'temp/model.ckpt')

    # 최적화가 완료된 모델에 테스트 값을 넣고 결과가 잘 나오는지 확인해봅니다.
    print("\n=== Test ===")
    print("X: [0, 0], Y:", sess.run(hypothesis, feed_dict={X: [[0, 0]]}))
    print("X: [0, 1], Y:", sess.run(hypothesis, feed_dict={X: [[0, 1]]}))
    print("X: [1, 0], Y:", sess.run(hypothesis, feed_dict={X: [[1, 0]]}))
    print("X: [1, 1], Y:", sess.run(hypothesis, feed_dict={X: [[1, 1]]}))

INFO:tensorflow:Restoring parameters from temp/model.ckpt

=== Test ===
X: [0, 0], Y: [[0.0031513]]
X: [0, 1], Y: [[0.9940713]]
X: [1, 0], Y: [[0.9940738]]
X: [1, 1], Y: [[0.0079484]]

Practice with real data - wine dataset

In [0]:
# 텐서플로우를 초기화한다
tf.reset_default_graph()

In [0]:
from google.colab import drive

# 각자 드라이브에 맞는 경로를 입력합니다
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
ls /content/gdrive/My\ Drive/lecture/mlp

code_1121.ipynb      wine.csv     xor_mlp.py          xor_mlp_save.py
linearRegression.py  wine_mlp.py  xor_mlp_restore.py  xor_single_layer.py

In [0]:
raw_data = pd.read_csv('/content/gdrive/My Drive/lecture/mlp/wine.csv')

In [0]:
raw_data.head(10)

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,0,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,0,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,0,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,0,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,0,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,0,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,0,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,0,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,0,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045

In [0]:
raw_data.ix[:, 1:].head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045

In [0]:
raw_data.ix[:, 0].head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: class, dtype: int64

In [0]:
x_data = np.asarray(raw_data.ix[:, 1:])
y_data = np.asarray(raw_data.ix[:, 0])

In [0]:
W1 = tf.Variable(tf.random_uniform([13, 32], -1, 1))
b1 = tf.Variable(tf.random_uniform([32], -1, 1))

W2 = tf.Variable(tf.random_uniform([32, 16], -1, 1))
b2 = tf.Variable(tf.random_uniform([16], -1, 1))

W3 = tf.Variable(tf.random_uniform([16, 3], -1, 1))
b3 = tf.Variable(tf.random_uniform([3], -1, 1))

In [0]:
X = tf.placeholder(tf.float32, shape=[None, 13], name="X")
Y = tf.placeholder(tf.int32, shape=[None], name="Y")
Y_onehot = tf.one_hot(Y, depth=3)

In [0]:
# X 와 Y 의 상관 관계를 분석하기 위한 가설 수식을 작성합니다.
# W 와 X 가 행렬이므로 tf.matmul을 사용했습니다.
h1 = tf.nn.relu(tf.matmul(X, W1) + b1)
h2 = tf.nn.relu(tf.matmul(h1, W2) + b2)
h3 = tf.matmul(h2, W3) + b3
hypothesis = tf.nn.softmax(h3)

In [0]:
# 손실 함수를 작성합니다.
# cross entropy : 예측값과 실제값의 cross entropy를 비용(손실) 함수로 정합니다.
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits_v2(labels=Y_onehot, logits=h3))

In [0]:
# 텐서플로우에 기본적으로 포함되어 있는 함수를 이용해 경사 하강법 최적화를 수행합니다.
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1)
# 비용을 최소화 하는 것이 최종 목표
train_op = optimizer.minimize(cost)

In [0]:
acc, update_op = tf.metrics.accuracy(Y, tf.argmax(hypothesis, axis=-1))

In [0]:
# 세션을 생성하고 초기화합니다.
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())

    # 최적화를 100번 수행합니다.
    for step in range(1000):
        # sess.run 을 통해 train_op 와 cost 그래프를 계산합니다.
        # 이 때, 가설 수식에 넣어야 할 실제값을 feed_dict 을 통해 전달합니다.
        _, cost_val = sess.run([train_op, cost], feed_dict={X: x_data, Y: y_data})

        if step % 100 == 0:
            print(step, cost_val)
    sess.run(tf.local_variables_initializer())
    a = sess.run([update_op], feed_dict={X: x_data, Y: y_data})
    print(a[0])

0 1785.9077
100 1.0860415
200 1.0860385
300 1.0860384
400 1.0860384
500 1.0860386
600 1.0860384
700 1.0860385
800 1.0860386
900 1.0860385
0.3988764

Data normalization(whitening)

In [0]:
# 텐서플로우를 초기화한다
tf.reset_default_graph()

In [0]:
raw_data = pd.read_csv('/content/gdrive/My Drive/lecture/mlp/wine.csv')

In [0]:
x_data = np.asarray(raw_data.ix[:, 1:])
y_data = np.asarray(raw_data.ix[:, 0])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [0]:
mean = np.mean(x_data, axis=0)
std = np.std(x_data, axis=0)
x_data = (x_data - mean) / std

In [0]:
print(x_data[:10,])

[[ 1.51861254 -0.5622498   0.23205254 -1.16959318  1.91390522  0.80899739
   1.03481896 -0.65956311  1.22488398  0.25171685  0.36217728  1.84791957
   1.01300893]
 [ 0.24628963 -0.49941338 -0.82799632 -2.49084714  0.01814502  0.56864766
   0.73362894 -0.82071924 -0.54472099 -0.29332133  0.40605066  1.1134493
   0.96524152]
 [ 0.19687903  0.02123125  1.10933436 -0.2687382   0.08835836  0.80899739
   1.21553297 -0.49840699  2.13596773  0.26901965  0.31830389  0.78858745
   1.39514818]
 [ 1.69154964 -0.34681064  0.4879264  -0.80925118  0.93091845  2.49144552
   1.46652465 -0.98187536  1.03215473  1.18606801 -0.42754369  1.18407144
   2.33457383]
 [ 0.29570023  0.22769377  1.84040254  0.45194578  1.28198515  0.80899739
   0.66335127  0.22679555  0.40140444 -0.31927553  0.36217728  0.44960118
  -0.03787401]
 [ 1.48155459 -0.51736664  0.30515936 -1.28970717  0.86070511  1.56209322
   1.36612798 -0.17609475  0.66421706  0.73186953  0.40605066  0.33660575
   2.23903902]
 [ 1.71625494 -0.4186237   0.30515936 -1.46987817 -0.26270834  0.32829793
   0.49267693 -0.49840699  0.6817379   0.08301456  0.2744305   1.36768901
   1.72952002]
 [ 1.3086175  -0.16727801  0.89001391 -0.56902319  1.49262517  0.48853108
   0.48263726 -0.41782893 -0.59728351 -0.00349944  0.44992405  1.36768901
   1.74544249]
 [ 2.25977152 -0.62508622 -0.7183361  -1.65004916 -0.192495    0.80899739
   0.95450162 -0.57898505  0.6817379   0.06138606  0.53767082  0.33660575
   0.94931905]
 [ 1.0615645  -0.88540853 -0.352802   -1.04947918 -0.12228166  1.09741707
   1.12517596 -1.14303148  0.45396697  0.93517742  0.23055711  1.32531572
   0.94931905]]

In [0]:
W1 = tf.Variable(tf.random_uniform([13, 32], -1, 1))
b1 = tf.Variable(tf.random_uniform([32], -1, 1))

W2 = tf.Variable(tf.random_uniform([32, 16], -1, 1))
b2 = tf.Variable(tf.random_uniform([16], -1, 1))

W3 = tf.Variable(tf.random_uniform([16, 3], -1, 1))
b3 = tf.Variable(tf.random_uniform([3], -1, 1))

In [0]:
# name: 나중에 텐서보드등으로 값의 변화를 추적하거나 살펴보기 쉽게 하기 위해 이름을 붙여줍니다.
X = tf.placeholder(tf.float32, shape=[None, 13], name="X")
Y = tf.placeholder(tf.int32, shape=[None], name="Y")
Y_onehot = tf.one_hot(Y, depth=3)

In [0]:
# X 와 Y 의 상관 관계를 분석하기 위한 가설 수식을 작성합니다.
# W 와 X 가 행렬이므로 tf.matmul을 사용했습니다.
h1 = tf.nn.relu(tf.matmul(X, W1) + b1)
h2 = tf.nn.relu(tf.matmul(h1, W2) + b2)
h3 = tf.matmul(h2, W3) + b3
hypothesis = tf.nn.softmax(h3)

In [0]:
# 손실 함수를 작성합니다.
# cross entropy : 예측값과 실제값의 cross entropy를 비용(손실) 함수로 정합니다.
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits_v2(labels=Y_onehot, logits=h3))

In [0]:
# 텐서플로우에 기본적으로 포함되어 있는 함수를 이용해 경사 하강법 최적화를 수행합니다.
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1)
# 비용을 최소화 하는 것이 최종 목표
train_op = optimizer.minimize(cost)

In [0]:
acc, update_op = tf.metrics.accuracy(Y, tf.argmax(hypothesis, axis=-1))

In [0]:
# 세션을 생성하고 초기화합니다.
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())

    # 최적화를 100번 수행합니다.
    for step in range(1000):
        # sess.run 을 통해 train_op 와 cost 그래프를 계산합니다.
        # 이 때, 가설 수식에 넣어야 할 실제값을 feed_dict 을 통해 전달합니다.
        _, cost_val = sess.run([train_op, cost], feed_dict={X: x_data, Y: y_data})

        if step % 100 == 0:
            print(step, cost_val)
    sess.run(tf.local_variables_initializer())
    a = sess.run([update_op], feed_dict={X: x_data, Y: y_data})
    print(a[0])

0 11.472703
100 0.010234507
200 0.0043316903
300 0.0026294952
400 0.0018510688
500 0.0014144125
600 0.001137327
700 0.0009472867
800 0.0008090356
900 0.0007042288
1.0

train/test split

In [0]:
# 텐서플로우를 초기화한다
tf.reset_default_graph()

In [0]:
raw_data = pd.read_csv('/content/gdrive/My Drive/lecture/mlp/wine.csv')

In [0]:
x_data = np.asarray(raw_data.ix[:, 1:])
y_data = np.asarray(raw_data.ix[:, 0])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [0]:
N = x_data.shape[0]
idx = np.arange(N)
np.random.shuffle(idx)
train_idx = idx[:int(0.9 * N)]
test_idx = idx[int(0.9 * N):]

In [0]:
test_x_data = x_data[test_idx]
test_y_data = y_data[test_idx]

In [0]:
x_data = x_data[train_idx]
y_data = y_data[train_idx]

In [0]:
mean = np.mean(x_data, axis=0)
std = np.std(x_data, axis=0)
x_data = (x_data - mean) / std

In [0]:
test_x_data = (test_x_data - mean) / std

In [0]:
W1 = tf.Variable(tf.random_uniform([13, 32], -1, 1))
b1 = tf.Variable(tf.random_uniform([32], -1, 1))

W2 = tf.Variable(tf.random_uniform([32, 16], -1, 1))
b2 = tf.Variable(tf.random_uniform([16], -1, 1))

W3 = tf.Variable(tf.random_uniform([16, 3], -1, 1))
b3 = tf.Variable(tf.random_uniform([3], -1, 1))

In [0]:
# name: 나중에 텐서보드등으로 값의 변화를 추적하거나 살펴보기 쉽게 하기 위해 이름을 붙여줍니다.
X = tf.placeholder(tf.float32, shape=[None, 13], name="X")
Y = tf.placeholder(tf.int32, shape=[None], name="Y")
Y_onehot = tf.one_hot(Y, depth=3)

In [0]:
# X 와 Y 의 상관 관계를 분석하기 위한 가설 수식을 작성합니다.
# W 와 X 가 행렬이므로 tf.matmul을 사용했습니다.
h1 = tf.nn.relu(tf.matmul(X, W1) + b1)
h2 = tf.nn.relu(tf.matmul(h1, W2) + b2)
h3 = tf.matmul(h2, W3) + b3
hypothesis = tf.nn.softmax(h3)

In [0]:
# 손실 함수를 작성합니다.
# cross entropy : 예측값과 실제값의 cross entropy를 비용(손실) 함수로 정합니다.
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits_v2(labels=Y_onehot, logits=h3))

In [0]:
# 텐서플로우에 기본적으로 포함되어 있는 함수를 이용해 경사 하강법 최적화를 수행합니다.
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1)
# 비용을 최소화 하는 것이 최종 목표
train_op = optimizer.minimize(cost)

In [0]:
acc, update_op = tf.metrics.accuracy(Y, tf.argmax(hypothesis, axis=-1))

In [0]:
# 세션을 생성하고 초기화합니다.
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())

    # 최적화를 100번 수행합니다.
    for step in range(1000):
        # sess.run 을 통해 train_op 와 cost 그래프를 계산합니다.
        # 이 때, 가설 수식에 넣어야 할 실제값을 feed_dict 을 통해 전달합니다.
        _, cost_val = sess.run([train_op, cost], feed_dict={X: x_data, Y: y_data})

        if step % 100 == 0:
            print(step, cost_val)
    sess.run(tf.local_variables_initializer())
    a = sess.run([update_op], feed_dict={X: x_data, Y: y_data})
    print(a[0])

    sess.run(tf.local_variables_initializer())
    a = sess.run([update_op], feed_dict={X: test_x_data, Y: test_y_data})
    print(a[0])

0 4.4460077
100 0.012251591
200 0.0048195124
300 0.0028869861
400 0.0020308052
500 0.0015505942
600 0.0012471478
700 0.0010386433
800 0.00088700606
900 0.00077038375
1.0
0.9444444